@model IEnumerable<EightSpoons.Models.RegisterViewModel>

@{
    ViewBag.Title = "Register";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Check)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CcTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Check)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiftCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CcTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RegisterId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RegisterId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RegisterId })
                </td>
            </tr>
        </tbody>
    }

</table>
